<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms and Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-color">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, aliquid! Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolor quasi dignissimos recusandae magni omnis. Culpa consequuntur nulla repellat vitae, optio eius voluptas libero, molestias asperiores inventore porro quos error.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, aliquid!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, aliquid!</p>
        
            <div class="text-center">
                <button class="btn btn-info btn-sub mt-4">Back to home</button>
            </div>
        </div>
    </div>
</section>