<!-- <nav  class="navbar-expand-lg fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav"  id="navbarNav">
                <li class="nav-item"><a class="nav-link" href=""> Design</a></li>
                <li class="nav-item"><a class="nav-link" href=""> Inspiration</a></li>
                <li class="nav-item"><a class="nav-link" href=""> Sports</a></li>
                <li class="nav-item"><a class="nav-link" href=""> General Knowledge</a></li>
                <li class="nav-item"><a class="nav-link" href=""> Politics</a></li>
            </ul>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light  fixed-top bg-light">
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngFor="let category of category">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{category.data.category.category}}</a>
        </li>
       
      </ul>
    </div>
  </nav>