<div class="card mb-5 mt-5 pb-5 shadow-effect">
  <div class="card-body">
    <div class="mt-3 mb-3">Comments(1593)</div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">Last updated - sept 029 2012</small>
        
      <div class="mt-3 mb-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ad, necessitatibus illum iure nulla sint culpa ipsam hic eveniet ratione? Vitae repudiandae sequi a odit dolore accusamus error eum similique.
      </div>

      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 mx-3">View Reply</a>

      <hr>
    </div>
  </div>
  <div class="card-body">
    <div class="mt-3 mb-3">Comments(1593)</div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">Last updated - sept 029 2012</small>
        
      <div class="mt-3 mb-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ad, necessitatibus illum iure nulla sint culpa ipsam hic eveniet ratione? Vitae repudiandae sequi a odit dolore accusamus error eum similique.
      </div>

      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 mx-3">View Reply</a>

      <hr>
    </div>
  </div>
  <div class="card-body">
    <div class="mt-3 mb-3">Comments(1593)</div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">Last updated - sept 029 2012</small>
        
      <div class="mt-3 mb-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ad, necessitatibus illum iure nulla sint culpa ipsam hic eveniet ratione? Vitae repudiandae sequi a odit dolore accusamus error eum similique.
      </div>

      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 mx-3">View Reply</a>

      <hr>
    </div>
  </div>
</div>
