<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/9259416/pexels-photo-9259416.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1
                "
          alt=""
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center">Featured</small>
          <small class="bg-light text-info text-center">Views - 102,109</small>
          <small class="bg-light text-warning text-center"
            >Last Updated - March 02 2021</small
          >
            <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate officia obcaecati similique soluta tempore veritatis optio. Minima, dolore natus. Ducimus, deserunt blanditiis. Tempore minima, earum atque veniam nemo explicabo. Est?
            Est illo, aut sapiente numquam dolores voluptates. Blanditiis numquam, adipisci repellat delectus mollitia praesentium enim repellendus nihil veniam excepturi rerum. Perspiciatis quod officia reprehenderit voluptas fugiat explicabo optio cupiditate corporis?
            Obcaecati illo labore quo molestias non sed beatae, quis distinctio sapiente quisquam perspiciatis tempore iusto dignissimos porro quidem soluta nihil iure veritatis? Animi laboriosam sed autem numquam natus vero vitae?
            Minus, nihil. Recusandae laborum sed deleniti, voluptates nostrum perspiciatis quas voluptatum veniam deserunt, nulla minus esse sint provident pariatur cumque est modi inventore amet consequuntur nesciunt. Fugit maiores provident corporis.
            Neque officiis maxime et aperiam laboriosam itaque accusantium expedita fugiat deleniti? Ad distinctio, similique aspernatur, fuga quasi impedit tenetur, dicta iure laboriosam sed non sunt inventore! Consequatur tempora pariatur eligendi?
            Dignissimos ducimus delectus dolores, sunt optio obcaecati numquam voluptatibus eligendi laudantium aspernatur natus iste. Et non deleniti, exercitationem nemo ex optio veritatis, temporibus unde velit soluta a mollitia, quos cupiditate?
            Vero adipisci aut obcaecati ipsam laboriosam iusto sint eos excepturi enim dolore, blanditiis corrupti natus necessitatibus est. Repellat, numquam, suscipit ducimus fugiat ipsa placeat excepturi, tempora molestias atque amet molestiae.
            Rerum placeat eum impedit aliquam eveniet incidunt, quaerat qui reiciendis eligendi vitae perspiciatis atque vel voluptatibus, neque id harum mollitia tempore expedita temporibus ducimus repudiandae excepturi natus cupiditate magnam. Repellat.
            Ipsam in illo eveniet, amet corporis veritatis quaerat! Quibusdam esse voluptas ut porro error, quos neque rem tempora laborum ex temporibus quia, aliquid nostrum voluptatem cupiditate vitae reprehenderit a eaque!
            Iure recusandae et voluptate voluptas itaque eos minima dolores excepturi exercitationem ex, explicabo, soluta obcaecati rerum numquam deserunt placeat laborum iusto similique, reiciendis laudantium autem. Natus blanditiis praesentium numquam culpa.</p>
        
        </div>
      </div>

      <app-comment-form></app-comment-form>

      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
    </div>
  </div>
</div>
