<div class="card">
  <img
    src="https://images.pexels.com/photos/12774783/pexels-photo-12774783.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt=""
    class="card-img-top"
  />

  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center my-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views - 100,256</small>

    <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
    <P
      >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
      veritatis reprehenderit magnam ipsa quis nisi voluptatem, dolores ex
      quibusdam accusantium vitae iste est sed libero ipsum eos molestias optio
      quo.</P
    >

    <small class="bg-light text-warning text-center ml-3">LAST UPDATED - JULY 27, 2022</small>
  </div>
</div>
